.wrapper {
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  >div:first-of-type {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 4px;
      margin-right: 4px;
    }
    div {
      width: 120px;

      h4 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  >div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: end;

    h4 {
      margin-bottom: 8px;
    }
    >div {
      display: flex;
      align-items: center;

      h3 {
        margin: 0 4px;
      }
      div {
        height: 32px;
        width: 32px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}