.wrapper {
  width: 1000px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 32px;

  >h1 {
    margin-bottom: 16px;
  }
  >div {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;

    >div {
      margin-right: 16px;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}