.wrapper {
  height: 440px;
  min-width: 200px;
  max-width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 8px;
  cursor: pointer;

  img {
    height: 140px;
    width: 140px;
    object-fit: cover;
    margin-bottom: 16px;
  }
  h2 {
    margin-bottom: 16px;
  }
  h6 {
    margin-bottom: 8px;
  }
  button {
    height: 32px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #000;
    }
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
}