.wrapper {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  transition: 400ms;
  z-index: 1;

  >div {
    min-height: 400px;
    width: 600px;
    background-color: #fff;
    border-radius: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 32px 64px;

    >div:first-of-type {
      font-size: 20px;
      position: absolute;
      top: 16px;
      right: 16px;
      transition: 200ms;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}